a.iconedit:link,
a.iconedit:visited,
a.iconedit:hover,
a.iconedit:active{
	text-decoration: none;
	color: var(--textcolor);
	padding-left: 5px;
	transition: 0.3s;
 }
 a.iconedit:hover{
	 color: cornflowerblue;
 }
a.circled:link,
a.circled:visited,
a.circled:hover,
a.circled:active,
a.circled:hover{
	color: var(--textcolor);
	position: relative;
	top: 13%;
	right: 11%;
	
}

.circle {
	border: 1px solid var(--textcolor);
	height: var(--circlerad);
	width: var(--circlerad);
	border-radius: 100%;
	transition: 0.3s;

}
.flogo:hover{
	background-color: royalblue;
	border-color: royalblue;
}	
.tlogo:hover{
	background-color: dodgerblue;
	border-color: dodgerblue;
}	
.mlogo:hover{
	background-color: var(--pricolor);
	border-color: var(--pricolor);
}	
.glogo:hover{
	background-color: tomato;
	border-color: tomato;
}	
.plogo:hover{
	background-color: red;
	border-color: red;
}	
.llogo:hover{
	background-color: royalblue;
	border-color: royalblue;
}	
 
<ion-icon name="logo-facebook"></ion-icon>
<ion-icon name="logo-instagram"></ion-icon>
<ion-icon name="logo-twitter"></ion-icon>
<ion-icon name="mail-outline"></ion-icon>
<ion-icon name="call-outline"></ion-icon>
<ion-icon name="home-outline"></ion-icon>
<ion-icon name="chatbox-outline"></ion-icon>
<ion-icon name="cart-outline"></ion-icon>
<ion-icon name="link-outline"></ion-icon>
<ion-icon name="search-outline"></ion-icon>
<ion-icon name="logo-google"></ion-icon>
<ion-icon name="logo-pinterest"></ion-icon>
